<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.miniapp.shardingdemo.mapper.HtFileMapper">
    <!-- 基本的增删改查可由MyBatis-Plus自动生成，此处可扩展自定义SQL -->

    <!-- Batch insert files -->
    <insert id="saveBatch">
        INSERT INTO ht_file (id, year, file_id, create_time)
        VALUES
        <foreach collection="list" item="file" separator=",">
            (#{file.id}, #{file.year}, #{file.fileId}, #{file.createTime})
        </foreach>
    </insert>
</mapper>
